<!--mapa estatico-->
<img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s-l+000(-77.0775868,-11.8665955)/-77.0775868,-11.8665955,17/500x300?access_token=pk.eyJ1Ijoia2F0cmllbCIsImEiOiJja2RjOXlrZTUxM3RsMnlxcmtwd3NrZWMwIn0.buu1mRI4DLdAUacSHR_2gw" alt="Map">

<img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/url-https%3A%2F%2Fdocs.mapbox.com%2Fapi%2Fimg%2Fcustom-marker.png(-77.0775868,-11.8665955)/-77.0775868,-11.8665955,17/500x300?access_token=pk.eyJ1Ijoia2F0cmllbCIsImEiOiJja2RjOXlrZTUxM3RsMnlxcmtwd3NrZWMwIn0.buu1mRI4DLdAUacSHR_2gw"
    alt="Map">

<!--Default ubicaciones y Una polilínea codificada válida codificada como un componente URI-->
<img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s-a+9ed4bd(-122.46589,37.77343),pin-s-b+000(-122.42816,37.75965),path-5+f44-0.5(%7DrpeFxbnjVsFwdAvr@cHgFor@jEmAlFmEMwM_FuItCkOi@wc@bg@wBSgM)/auto/500x300?access_token=pk.eyJ1Ijoiam9zZWNvbmRvcmk1IiwiYSI6ImNrZTR0cW5nZzB3bjkyeXBkZXlmank2a3kifQ.z8hPiaEmZpSaEV67dtKlkw"
    alt="Map">
<img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/path-5+f44-0.5(%7DrpeFxbnjVsFwdAvr@cHgFor@jEmAlFmEMwM_FuItCkOi@wc@bg@wBSgM)/auto/500x300?access_token=pk.eyJ1Ijoiam9zZWNvbmRvcmk1IiwiYSI6ImNrZTR0cW5nZzB3bjkyeXBkZXlmank2a3kifQ.z8hPiaEmZpSaEV67dtKlkw"
    alt="Map">

<!--Una polilínea codificada válida codificada como un componente URI-->
<img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s-a+9ed4bd(-120.2,38.5),pin-s-b+000(-126.453,43.252),path-5+f44-0.5(_p~iF~ps|U_ulLnnqC_mqNvxq`@)/auto/500x300?access_token=pk.eyJ1Ijoiam9zZWNvbmRvcmk1IiwiYSI6ImNrZTR0cW5nZzB3bjkyeXBkZXlmank2a3kifQ.z8hPiaEmZpSaEV67dtKlkw"
    alt="Map">

<!--la ruta esta en otra posicion que de los marcadores establecidos-->
<img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s-a+9ed4bd(-77.1215082,-11.8567863),pin-s-b+000(-77.1210578,-11.8555018),path-8+f44-0.5(%7DrpeFxbnjVsFwdAvr@cHgFor@jEmAlFmEMwM_FuItCkOi@wc@bg@wBSgM)/auto/500x300?access_token=pk.eyJ1Ijoiam9zZWNvbmRvcmk1IiwiYSI6ImNrZTR0cW5nZzB3bjkyeXBkZXlmank2a3kifQ.z8hPiaEmZpSaEV67dtKlkw"
    alt="Map">


<!--No hay  Una polilínea codificada válida codificada como un componente URI-->
<img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s-a+9ed4bd(-77.1215082,-11.8567863),pin-s-b+000(-77.1210578,-11.8555018),path-8+f44-0.5(%7DrpeFxbnjVsFwdAvr@cHgFor@jEmAlFmEMwM_FuItCkOi@wc@bg@wBSgM)/-77.1214307,-11.8563589,16/500x300?access_token=pk.eyJ1Ijoiam9zZWNvbmRvcmk1IiwiYSI6ImNrZTR0cW5nZzB3bjkyeXBkZXlmank2a3kifQ.z8hPiaEmZpSaEV67dtKlkw"
    alt="Map">


<img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s-a+9ed4bd(-77.0775868,-11.8665955),pin-s-b+000(-77.0747816,-11.8664544),path-5+f44-0.5(%7DrpeFxbnjVsFwdAvr@cHgFor@jEmAlFmEMwM_FuItCkOi@wc@bg@wBSgM)/-77.0764188,-11.866213,15/500x300?access_token=pk.eyJ1Ijoiam9zZWNvbmRvcmk1IiwiYSI6ImNrZTR0cW5nZzB3bjkyeXBkZXlmank2a3kifQ.z8hPiaEmZpSaEV67dtKlkw"
    alt="Map">